<br>
<br>

<!--Footer-->
<footer class="page-footer blue center-on-small-only footer">

    <!--Footer Links-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h5 class="title">About SelBye</h5>
                <p> SelBye is a place to sell your book or buy used book from others. 
                    You can post your book to sell it and buyer will contact you directly.  </p>
            </div>
            <!--/.First column-->

            <div class="col-md-6">
                <h5 class="title">Contact us</h5>
                <p> For any help or feedback mail us at: 
                    kunalht1@gmail.com </p>
            </div>
        </div>              
    </div>
    <!--/.Footer Links-->
    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            ©2017 Copyright: <a href="https://www.selbye.com"> SelBye.com </a>
        </div>
    </div>
    <!--/.Copyright-->
</footer>
</body>
<!--/.Footer-->

</html>