<% include ../partials/header %>
<div class="container jumbotron">
        <h1 class="text-center">Add New Product </h1>
        <form action="/books/<%= bookId %>/order" method="POST">
            <div class="row">
                <div class="col-md-12">
                    <div class="md-form">
                        <input type="text" name="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="md-form">
                        <textarea name="address" type="text" class="md-textarea" placeholder="Address"></textarea>
                    </div>
                </div>
            </div>
            <button type="submit"> Submit </button>
            <br>

        </form>
        </div>
    <% include ../partials/footer %>